<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TestItem</key>
	<dict>
		<key>COMMENT: ProductType meanings</key>
		<array>
			<string>Non-Consumable</string>
			<string>Consumable</string>
			<string>Subscription</string>
		</array>
		<key>Description</key>
		<string>A small test item used to test the simulated StoreKit.</string>
		<key>ProductType</key>
		<integer>0</integer>
		<key>Tier</key>
		<integer>2</integer>
		<key>Title</key>
		<string>Test Item</string>
	</dict>
	<key>com.anystonetech.storecontroller.basicsample</key>
	<dict>
		<key>COMMENT: ProductType meanings</key>
		<array>
			<string>Non-Consumable</string>
			<string>Consumable</string>
			<string>Subscription</string>
		</array>
		<key>Description</key>
		<string>Basic Nonconsumable Purchase - SK</string>
		<key>ProductType</key>
		<integer>0</integer>
		<key>Tier</key>
		<integer>2</integer>
		<key>Title</key>
		<string>Basic - SK</string>
	</dict>
</dict>
</plist>
