<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Typical Nonconsumable Purchase</string>
		<key>productIdentifier</key>
		<string>com.anystonetech.storecontroller.nonconsumable</string>
		<key>title</key>
		<string>Nonconsumable</string>
		<key>productType</key>
		<string>Nonconsumable</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Consumable with a minimum version and 1 berry</string>
		<key>familyIdentifier</key>
		<string>com.anystonetech.storecontroller.berry</string>
		<key>familyQuantity</key>
		<string>1</string>
		<key>minimumVersion</key>
		<string>1.2</string>
		<key>productIdentifier</key>
		<string>com.anystonetech.storecontroller.versionsample</string>
		<key>title</key>
		<string>Consumable - 1 berry</string>
		<key>productType</key>
		<string>Consumable</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Consumable with 10 smurfberries</string>
		<key>extraInformation</key>
		<string>Limited time sale : 50% off!</string>
		<key>familyIdentifier</key>
		<string>com.anystonetech.storecontroller.berry</string>
		<key>familyQuantity</key>
		<string>10</string>
		<key>minimumVersion</key>
		<string>1.0</string>
		<key>productIdentifier</key>
		<string>com.anystonetech.storecontroller.fullsample</string>
		<key>isHidden</key>
		<false/>
		<key>title</key>
		<string>Consumable - 10 berries</string>
		<key>productType</key>
		<string>Consumable</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Consumable with 99 smurfberries</string>
		<key>extraInformation</key>
		<string>FREE for a limited time</string>
		<key>familyIdentifier</key>
		<string>com.anystonetech.storecontroller.berry</string>
		<key>familyQuantity</key>
		<string>99</string>
		<key>minimumVersion</key>
		<string>1.0</string>
		<key>productIdentifier</key>
		<string>com.anystonetech.storecontroller.freesample</string>
		<key>isHidden</key>
		<false/>
		<key>title</key>
		<string>Consumable - 99 berries</string>
		<key>productType</key>
		<string>Consumable</string>
		<key>isFree</key>
		<true/>
	</dict>
</array>
</plist>
